<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
</head>
<body>
    <h1>Voici la liste des produits:</h1>
    <ul>
    <% products.forEach(function(product) { %>
        <li>
            <a href="<%= product.file_link %>"><%= product.name%></a>
            <button class="product-command btn-login">Commander</button>
        </li>
      <% }); %>
    </ul>
    <div class="login_popup">
        <div class="overlay"></div>
        <div class="mask">
          <i class="glyphicon glyphicon-remove"><a href=""></a></i>
          <div class="login_table">
            <h3>Login In</h3>
            <table>
              <tr>
                <td><input type="text" class="form-control" id="username" placeholder="Username"></td>
              </tr>
              <tr>
                <td><input type="password" class="form-control" id="password" placeholder="Password"></td>
              </tr>
              <tr>
                <td>
                  <a href="#" class="btn btn-ok login-to-nodejs">Login</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    <script src="js/jquery.min.js"></script>
    <script>

      $(function() {
        $('.login-to-nodejs').click(function() {
            var username = $('#username').val();
            var password = $('#password').val();
            console.log('aaa');
            $.ajax({
                type: 'POST',
                url: '/login',
                data: {username: username, password: password},
                success: function(data, status) {
                   alert('in');
                    console.log(data);
                }
            })
        });

        $(".btn-login").click(
          function() {
            $(".login_popup").fadeIn(), "easeOutExpo";
            $(".overlay").fadeIn(), "easeOutExpo";
            return false;

          }
        )
        $(".overlay").click(
          function() {
            $(".login_popup").fadeOut(), "easeOutExpo";
            $(".login_table").delay(400).animate({
              left: 0
            }, 600, "easeOutExpo");
            $(".forget_table").delay(400).animate({
              left: 400
            }, 600, "easeOutExpo");
            return false;

          }
        )
    $(".glyphicon-remove").click(
      function() {
        $(".login_popup").fadeOut(), "easeOutExpo";
        $(".login_table").delay(400).animate({
          left: 0
        }, 600, "easeOutExpo");
        $(".forget_table").delay(400).animate({
          left: 400
        }, 600, "easeOutExpo");
        return false;

      }
    )

  })
$(function() {
  $(".forget").click(
    function() {
      $(".login_table").animate({
        left: -500
      }, 600, "easeOutExpo");
      $(".forget_table").animate({
        left: 0
      }, 600, "easeOutExpo");
      return false;
    }
  )
  $(".back_login").click(
    function() {
      $(".login_table").animate({
        left: 0
      }, 600, "easeOutExpo");
      $(".forget_table").animate({
        left: 400
      }, 600, "easeOutExpo");
      return false;

    }
  )

})
    </script>
</body>
</html>